[submodule "starter_file/large_language_monkeys"]
	path = starter_file/large_language_monkeys
	url = https://github.com/AmberLJC/large_language_monkeys.git
[submodule "starter_file/cot_reasoning_step"]
	path = starter_file/cot_reasoning_step
	url = https://github.com/AE-W/The-Impact-of-Reasoning-Step-Length-on-Large-Language-Models.git
[submodule "starter_file/faiss"]
	path = starter_file/faiss
	url = https://github.com/facebookresearch/faiss.git
[submodule "starter_file/MLAgentBench"]
	path = starter_file/MLAgentBench
	url = https://github.com/AE-W/MLAgentBench.git
