logs
config.toml
curie/venv
code_logging
curie/config.toml
*.pyc
baselines/openhands/session_cache
baselines/openhands/workspace
.aws_creds
baselines/autobuild/.OAI_CONFIG_LIST
curie/setup/env.sh
workspace/*
curie.egg-info/
benchmark/*txt
*.log
baselines/openhands/config.toml
curie/tests/test_claude.py
curie/setup/*
*.DS_Store
*.vscode/
dist/
curie_ai.egg-info/
tmp*